.sticky-sections {
    position: relative;
    width: 100%;
    background-color: #0f0f0f;
    padding-top: 5vh
}

.section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    transform-style: preserve-3d;
    perspective: 1000px;
}

@media (min-width: 769px) {
    .section {
        height: 100vh;
        overflow: hidden;
    }
}

.section-content {
    position: relative;
    width: 100%;
    max-width: none;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    transform-origin: 50% 100%;
    will-change: transform;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
}

@media (max-width: 768px) {
    .section-content {
        min-height: auto;
        padding: 3rem 0;
    }
}