* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "myfont", option; */
    --navbar-height: 100px;
}

@media (max-width: 768px) {
    body {
        --navbar-height: 60px;
    }
}